@media(max-width: 768px){

    .header-grid{
        .nav{
            .navbar{
                li{
                    a{
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
}

@media(max-width: 425px){

    .header-grid{
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
        "logo-container"
        "nav";
        justify-items: center;
        gap: 0.5rem;
        .nav{
            .navbar{
                gap: 1rem;
                li{
                    a{
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }

    .main-grid{
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
        "banner"
        "sports";
        margin: 1rem 3rem 2rem 3rem;
        gap: 1rem;
        .banner{
            h2{
                margin: 0 2rem 0 2rem;
                position: absolute;
                top: 0.4em;
                font-size: 3rem;
            }
            p{
                margin: 0 2rem 0 2rem;
                position: absolute;
                top: 3em;
                font-size: 1.6rem;
            }
        }
        .sports{
            .sports-grid{
                display: grid;
                grid-template-rows: repeat(3, 1fr);
                grid-template-columns: repeat(1, 1fr);
                grid-template-areas: 
                "kitesurf"
                "wakeboard"
                "surf";
                gap: 1rem;
            }
        }
    }

    .footer-grid{
        display: grid;
        grid-template-rows: repeat(3, auto);
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
        "information"
        "pages"
        "newsletter";
        padding: 2rem 3rem 2rem 3rem;
        gap: 2rem;
        justify-content: center;
    }

    .main-grid-pages{
        .explicacion{
            h2{
                margin: 0 2rem 0 2rem;
                position: absolute;
                top: 0.4em;
                font-size: 3rem;
            }
            p{
                margin: 0 2rem 0 2rem;
                position: absolute;
                top: 3em;
                font-size: 1.6rem;
            }
        }
    }

    .main-grid-about{
        .about-container{
            h2{
                margin: 0 2rem 0 2rem;
                position: absolute;
                top: 0.4em;
                font-size: 3rem;
            }
            p{
                margin: 0 2rem 0 2rem;
                position: absolute;
                top: 3em;
                font-size: 1.6rem;
            }
        }
        .team-container{
            .people-container{
                .people-container-grid{
                    display: grid;
                    grid-template-rows: repeat(3, 1fr);
                    grid-template-columns: repeat(1, 1fr);
                    grid-template-areas: 
                    "ivan-container"
                    "jessica-container"
                    "mark-container";
                    gap: 2rem;
                    .ivan-container img, .jessica-container img, .mark-container img{
                        width: 60%;
                    }
                }
            }
        }
    }
}

@media(max-width: 320px){

    .header-grid{
        .nav{
            .navbar{
                li{
                    a{
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }

    .main-grid{
        .banner{
            p{
                margin: 0 2rem 0 2rem;
                position: absolute;
                top: 3.5em;
                font-size: 1.3rem;
            }
        }
    }

    .main-grid-pages{
        .explicacion{
            p{
                margin: 0 2rem 0 2rem;
                position: absolute;
                top: 3.5em;
                font-size: 1.3rem;
            }
        }
    }

    .main-grid-about{
        .about-container{
            p{
                margin: 0 2rem 0 2rem;
                position: absolute;
                top: 3.5em;
                font-size: 1.3rem;
            }
        }
    }
}